.about-section {
  background: linear-gradient(180deg, #f0f9fe 0%, #d2effc 100%);

  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-bottom: 80px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 64px;
  }
}

.about-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #202e44;
  max-width: 313px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
    text-align: left;
    max-width: 403px;
    margin: 0;
  }
}

.about-text-span {
  font-weight: 700;
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
    min-width: 410px;
  }
}
