.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 40px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 80px;
    padding-bottom: 144px;
  }
}

.about-container {
  padding: 0;

  @include media(desktop) {
  }
}

.about-title-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
  }
}

.about-text {
  padding: 0 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #d7d8e4;
  margin-bottom: 48px;

  @include media(desktop) {
    padding: 0 120px;
    max-width: 879px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
