.gameplay-section {
  background: #b4e4fa;
}

.gameplay-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/gameplay/gameplay-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/gameplay/gameplay-bg-desk.png);
  }
}

.gameplay-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-bottom: 80px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-title-wrapper {
  @include media(desktop) {
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  @include media(desktop) {
  }
}

.gameplay-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #202e44;
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 64px;
  }
}

.gameplay-list-item {
  background: #f0f9fe;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;

  @include media(desktop) {
    max-width: 495px;
  }
}

.gameplay-img {
  @include media(desktop) {
  }
}

.gameplay-item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #324b74;

  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #202e44;

  @include media(desktop) {
  }
}
