.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 112px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom 176px center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 112px;
    padding-bottom: 160px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    background-position: bottom 0 center;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-text-wrapper {
  @include media(desktop) {
  }
}

.hero-subtitle {
  font-family: 'Cinzel', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #d7d8e4;
  max-width: 296px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  @include media(desktop) {
    font-size: 24px;
    max-width: max-content;
  }
}

.hero-main-title {
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #d7d8e4;
  margin-bottom: 356px;

  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 342px;
  }
}

.hero-btn {
  box-shadow: 2px 2px 1px 0 rgba(90, 45, 9, 0.5);
  background: #d7d8e4;
  border: 1px solid #242847;
  border-radius: 8px;
  padding: 13px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(180deg, #d7d8e4 0%, #9697bf 100%);
  }

  @include media(desktop) {
  }
}
