.hero-section {
  background: #d6f0ff;

  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 76px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 486px;
    padding-bottom: 120px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    background-position: top center;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-text-wrapper {
  @include media(desktop) {
  }
}

.hero-title-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 400px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.hero-btn {
  box-shadow: 2px 2px 2px 0 rgba(58, 93, 149, 0.4);
  background: #6123e6;
  border: 1px solid #3a5d95;
  border-radius: 16px;
  padding: 13px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(180deg, #6123e6 0%, #3a5d95 100%);
  }

  @include media(desktop) {
  }
}
