.modes-section {
}

.modes-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 80px;
  }
}

.modes-container {
  @include media(desktop) {
  }
}

.modes-title-wrapper {
  @include media(desktop) {
  }
}

.modes-title {
  @include media(desktop) {
  }
}

.modes-content-wrapper {
  @include media(desktop) {
  }
}

.modes-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #d7d8e4;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 20px;
    margin-bottom: 48px;
  }
}

.modes-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
}

.modes-list-item {
  background: #1a1b25;
  border: 1px solid #242847;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  @include media(desktop) {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 210px;
  }
}

.modes-img {
  min-width: 32px;

  @include media(desktop) {
    min-width: 100px;
  }
}

.modes-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #d7d8e4;

  @include media(desktop) {
    font-size: 16px;
    text-align: center;
  }
}
