<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">About the Game</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="about-text">
          In Dragon Tomb: The Spirit Attack, you'll find yourself deep in these
          creepy underground tombs where ancient spirits don't want you there.
          As explorers move deeper underground, they must avoid attacks,
          navigate traps, and discover hidden relics protected by supernatural
          forces. Each room throws something different at you - you never know
          what's waiting around the corner.
        </p>
      </div>
      <picture>
        <source
          srcset="./img/about/about-bg-desk.jpg"
          media="(min-width: 1440px)"
          width="1440"
          height="450" />
        <source
          srcset="./img/about/about-bg-mob.jpg"
          width="375"
          height="316" />
        <img
          class="about-img"
          src="./img/about/about-bg-mob.jpg"
          alt="Screenshot of the game"
          width="375"
          height="316"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
