<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">About the Game</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="about-text">
          <span class="about-text-span"
            >You know those bubble shooter games from way back?</span
          ><br />
          <br />
          We basically took that same addictive gameplay and optimized it for
          mobile. Players aim carefully, bounce shots off walls, and match
          colors to clear clusters of bubbles. The further you get, the trickier
          it becomes - you'll need to really plan your moves and make every shot
          count.
        </p>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="410"
            height="226" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="313"
            height="172" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="313"
            height="172"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
