<section class="section contact-section" id="contact">
  <div class="section-title-wrapper contact-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title contact-title">Contact</h2>
    </div>
  </div>
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <div class="contact-text-wrapper">
          <p class="contact-text">Questions or suggestions?</p>
          <a href="mailto:info@quietcrest.online" class="contact-email-link">
            <svg class="email-icon" width="16" height="16">
              <use href="./img/sprite.svg#icon-email"></use></svg
            ><span>info@quietcrest.online</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
