<section class="section faq-section" id="faq">
  <div class="faq-section-wrapper">
    <div class="section-title-wrapper faq-title-wrapper">
      <div class="container section-title-container">
        <h2 class="section-title faq-title">FAQ</h2>
      </div>
    </div>
    <div class="faq-bg-wrapper">
      <div class="container faq-container">
        <ul class="faq-list">
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text">Is the game easy to learn?</span>
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Yeah, totally! My 8-year-old nephew figured it out in like 30
                seconds. Just point and shoot, really.
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text">Does the difficulty increase?</span>
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Yes. Levels become more complex over time.
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text"
                  >Are there different strategies?</span
                >
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Yes. Players can use direct shots or angled shots.
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text"
                  >Is it suitable for casual play?</span
                >
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Absolutely. It’s designed for quick sessions.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
