<section class="features-section section" id="features">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title features-title">Game Highlights</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <p class="features-text">
        You'll need fast reflexes and a keen eye to make it through alive.
      </p>
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-slide">
            <svg class="features-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-features1"></use>
            </svg>
            <p class="features-item-text">Atmospheric dungeon environments</p>
          </li>
          <li class="swiper-slide features-slide">
            <svg class="features-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-features2"></use>
            </svg>
            <p class="features-item-text">Spirit enemies and magical hazards</p>
          </li>
          <li class="swiper-slide features-slide">
            <svg class="features-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-features3"></use>
            </svg>
            <p class="features-item-text">
              Progressive difficulty with new traps
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <svg class="features-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-features4"></use>
            </svg>
            <p class="features-item-text">
              Hidden relics scattered across tomb levels
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <svg class="features-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-features5"></use>
            </svg>
            <p class="features-item-text">
              Fast-paced exploration and escape gameplay
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/features/features-img-desk.jpg"
          media="(min-width: 1440px)"
          width="1440"
          height="660" />
        <source
          srcset="./img/features/features-img-mob.jpg"
          width="375"
          height="409" />
        <img
          class="features-img"
          src="./img/features/features-img-mob.jpg"
          alt="Screenshot of the game"
          width="375"
          height="409"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
