<section class="gameplay-section section" id="gameplay">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title gameplay-title">How to Play</h2>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <p class="gameplay-text">
        It's all about timing - one wrong move and you're toast.
      </p>
      <div class="gameplay-content-wrapper">
        <div class="gameplay-top-list-wrapper">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img1-desk.png"
              media="(min-width: 1440px)"
              width="360"
              height="230" />
            <source
              srcset="./img/gameplay/gameplay-img1-mob.png"
              width="351"
              height="224" />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img1-mob.png"
              alt="Screenshot of the game"
              width="351"
              height="224"
              loading="lazy"
          /></picture>
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <p class="gameplay-item-number">1</p>
              <p class="gameplay-item-text">Enter the tomb level</p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-number">2</p>
              <p class="gameplay-item-text">
                Navigate through corridors and chambers
              </p>
            </li>
          </ul>
        </div>
        <div class="gameplay-bottom-list-wrapper">
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <p class="gameplay-item-number">3</p>
              <p class="gameplay-item-text">Avoid spirit attacks and traps</p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-number">4</p>
              <p class="gameplay-item-text">Collect relics along the path</p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-number">5</p>
              <p class="gameplay-item-text">
                Reach the exit to progress further
              </p>
            </li>
          </ul>
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img2-desk.png"
              media="(min-width: 1440px)"
              width="360"
              height="230" />
            <source
              srcset="./img/gameplay/gameplay-img2-mob.png"
              width="351"
              height="224" />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img2-mob.png"
              alt="Screenshot of the game"
              width="351"
              height="224"
              loading="lazy"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
