<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="section-title-wrapper gameplay-title-wrapper">
      <div class="container section-title-container">
        <h2 class="section-title gameplay-title">Gameplay Overview</h2>
      </div>
    </div>
    <div class="gameplay-bg-wrapper">
      <div class="container gameplay-container">
        <div class="gameplay-content-wrapper">
          <p class="gameplay-text">
            Planning ahead is key to clearing the board efficiently.
          </p>
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img1-desk.png"
                  media="(min-width: 1440px)"
                  width="413"
                  height="440" />
                <source
                  srcset="./img/gameplay/gameplay-img1-mob.png"
                  width="311"
                  height="331" />
                <img
                  class="gameplay-img"
                  src="./img/gameplay/gameplay-img1-mob.png"
                  alt="Screenshot of the game"
                  width="311"
                  height="331"
              /></picture>
              <p class="gameplay-item-title">Shooting Mechanics</p>
              <p class="gameplay-item-text">
                Shoot bubbles at matching colors - get three or more together
                and they'll pop, giving you room to work with.
              </p>
            </li>
            <li class="gameplay-list-item">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img2-desk.png"
                  media="(min-width: 1440px)"
                  width="413"
                  height="440" />
                <source
                  srcset="./img/gameplay/gameplay-img2-mob.png"
                  width="311"
                  height="331" />
                <img
                  class="gameplay-img"
                  src="./img/gameplay/gameplay-img2-mob.png"
                  alt="Screenshot of the game"
                  width="311"
                  height="331"
              /></picture>
              <p class="gameplay-item-title">Strategy & Angles</p>
              <p class="gameplay-item-text">
                Sometimes you've gotta get creative - bank shots off the walls,
                weird angles, whatever it takes to nail those impossible
                clusters.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
