<section class="section modes-section" id="modes">
  <div class="section-title-wrapper modes-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title modes-title">Gameplay Experience</h2>
    </div>
  </div>
  <div class="modes-bg-wrapper">
    <div class="container modes-container">
      <div class="modes-content-wrapper">
        <p class="modes-text">
          You'll need fast reflexes and a keen eye to make it through alive.
        </p>
        <ul class="modes-list">
          <li class="modes-list-item">
            <picture>
              <source
                srcset="./img/modes/modes-img1-desk.png"
                media="(min-width: 1440px)"
                width="100"
                height="100" />
              <source
                srcset="./img/modes/modes-img1-mob.png"
                width="32"
                height="32" />
              <img
                class="modes-img"
                src="./img/modes/modes-img1-mob.png"
                alt="Screenshot of the game"
                width="32"
                height="32"
            /></picture>
            <p class="modes-item-text">Explore underground tomb corridors</p>
          </li>
          <li class="modes-list-item">
            <picture>
              <source
                srcset="./img/modes/modes-img2-desk.png"
                media="(min-width: 1440px)"
                width="100"
                height="100" />
              <source
                srcset="./img/modes/modes-img2-mob.png"
                width="32"
                height="32" />
              <img
                class="modes-img"
                src="./img/modes/modes-img2-mob.png"
                alt="Screenshot of the game"
                width="32"
                height="32"
            /></picture>
            <p class="modes-item-text">Avoid mystical traps and hazards</p>
          </li>
          <li class="modes-list-item">
            <picture>
              <source
                srcset="./img/modes/modes-img3-desk.png"
                media="(min-width: 1440px)"
                width="100"
                height="100" />
              <source
                srcset="./img/modes/modes-img3-mob.png"
                width="32"
                height="32" />
              <img
                class="modes-img"
                src="./img/modes/modes-img3-mob.png"
                alt="Screenshot of the game"
                width="32"
                height="32"
            /></picture>
            <p class="modes-item-text">
              Escape spirit attacks and moving obstacles
            </p>
          </li>
          <li class="modes-list-item">
            <picture>
              <source
                srcset="./img/modes/modes-img4-desk.png"
                media="(min-width: 1440px)"
                width="100"
                height="100" />
              <source
                srcset="./img/modes/modes-img4-mob.png"
                width="32"
                height="32" />
              <img
                class="modes-img"
                src="./img/modes/modes-img4-mob.png"
                alt="Screenshot of the game"
                width="32"
                height="32"
            /></picture>
            <p class="modes-item-text">Collect relics and hidden treasures</p>
          </li>
          <li class="modes-list-item">
            <picture>
              <source
                srcset="./img/modes/modes-img5-desk.png"
                media="(min-width: 1440px)"
                width="100"
                height="100" />
              <source
                srcset="./img/modes/modes-img5-mob.png"
                width="32"
                height="32" />
              <img
                class="modes-img"
                src="./img/modes/modes-img5-mob.png"
                alt="Screenshot of the game"
                width="32"
                height="32"
            /></picture>
            <p class="modes-item-text">
              Reach the exit to unlock the next tomb area
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
