<section class="testimonials-section section" id="testimonials">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title testimonials-title">Player Reviews</h2>
    </div>
  </div>
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <ul class="testimonials-list">
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Anna K.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-5-stars.png"
              alt="Rating"
              width="80"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “This is my go-to stress reliever! Though I'm kinda addicted - been
            playing it every morning on the train for like 3 weeks straight
            lol.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Peter B.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-4-stars.png"
              alt="Rating"
              width="64"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “They nailed the classic bubble shooter feel, reminds me of the old
            arcade games.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Diana L.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-5-stars.png"
              alt="Rating"
              width="80"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “OMG when you get one of those massive chain reactions that just
            demolishes half the board... *chef's kiss* So satisfying!”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Tommy K.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-4-stars.png"
              alt="Rating"
              width="64"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “Simple controls, but gets challenging later. Easy to learn in
            seconds. Mastering angles takes real skill.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Ginger M.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-5-stars.png"
              alt="Rating"
              width="80"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “Perfect for quick breaks - easy to jump in, hard to put down. Each
            level feels fresh and satisfying. Great for a quick mental reset..”
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
