<section class="testimonials-section section" id="testimonials">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title testimonials-title">Player Reviews</h2>
    </div>
  </div>
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <ul class="testimonials-list">
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Daniel J.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-4-stars.png"
              alt="Rating"
              width="80"
              height="20"
            />
          </div>
          <p class="testimonials-item-text">
            “Love the creepy atmosphere! The escape sequences had me on the edge
            of my seat.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Kelly D.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-5-stars.png"
              alt="Rating"
              width="100"
              height="20"
            />
          </div>
          <p class="testimonials-item-text">
            ”Simple controls but very intense gameplay.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Lucas M.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-4-stars.png"
              alt="Rating"
              width="80"
              height="20"
            />
          </div>
          <p class="testimonials-item-text">
            “These tomb levels are tough, but the spirit enemies are pretty
            awesome.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Amira K.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-4-stars.png"
              alt="Rating"
              width="80"
              height="20"
            />
          </div>
          <p class="testimonials-item-text">
            “Great dungeon vibe and mysterious design.”
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
